/* This file contains the style parameters for the sample client. */


.box {
    width: 300px;
    height: 300px;
    border: thick black solid;
    background-color: rgb(243,243,243);
    padding: 10px 12px 12px 10px;	
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
	-webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
	box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
    margin: 100px auto;
}

input[type="submit"] {
width:120px;
color: #999;
padding: 5px 10px;
margin: 20px 0;
border: 1px solid #000;
font-weight: lighter;
}

input[type="text"] {
background: #212121;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 border-radius: 5px;
height: 100%;
width: 100%;
background: -moz-radial-gradient(50% 46% 90deg,circle closest-corner, #242424, #090909);
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424), to(#090909));
}
/**.message {
    margin: 10px 20px 10px 20px;
    border: thin black solid;
}**/ 

body {
	background: #000;
	color: #000;
	font-family: 'Helvetica', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

