<!doctype html>
<link rel="stylesheet" type="text/css" href="frontEnd.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<!-- login page -->
<center>
<div id="login" class="box">
  <h1>Login</h1>
  <div id="loginMessage" class="message">
  </div>

    <form>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Username">   
        <input id="password" type="password" placeholder="Password">
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="loginButton" value="Log in">
	<input type="submit" id="addUserButton" value="Add User">
    </fieldset>
    </form>
</div>

</center>


<!-- Welcome page -->
<center>
<div id="welcome">
  <h1>Welcome!</h1>
  <div id ="welcomeMessage">
   </div>
  
    
    <form>
    <fieldset id="actions">
        <input type="submit" id="logOut" value="Log out">
    </fieldset>
    </form>
</div>
</center>


 
<script type="text/javascript">
<!--


$(document).ready(function() {
   loginPage('default');
 });

function loginPage(message) {
  $('#login').hide()
  $('#welcome').hide()
  $('#username').val("")
  $('#password').val("")
  $('#loginMessage').html("")
  $('#welcomeMessage').html("")
  //init login page
  if(message == 'default')message = "Please enter your credentials below";
     $('#welcome').hide()
     $('#loginUsername').val("")
     $('#loginPassword').val("")
     $('#loginMessage').html(message)
     $('#login').show()
}

function welcomePage(username, count) {
  $('#login').hide()
  $('#welcome').show()
  $('#welcomeMessage').html("Welcome, "+  username +", you have logged in " + count + " times.")

}

ERR_BAD_CREDENTIALS = -1;
ERR_USER_EXISTS = -2;
ERR_BAD_USERNAME = -3;
ERR_BAD_PASSWORD  = -4;


function request(page, dict, success, failure) {
    $.ajax({
        type: 'POST',
        url: page,
        data: JSON.stringify(dict),
        contentType: "application/json",
        dataType: "json",
        success: success,
        failure: failure
    });
}


function errcode(code) {
    if( code == ERR_BAD_CREDENTIALS) {
        return ("Invalid username and password combination. Please try again. ");
    } else if( code == ERR_BAD_USERNAME) {
        return ("The user name should not be empty and at most 128 characters long. Please try again.");
    } else if( code == ERR_USER_EXISTS) {
        return ("This user name already exists. Please try again.");
    } else if( code == ERR_BAD_PASSWORD) {
        return ("The password should be at most 128 characters long. Please try again");
    } 
}

function loginResponse(data, user) {
  if( data.errCode > 0 ) {
     c = data.count;
     welcomePage(user, c);
  } else {
     loginPage(errcode(data.errCode));  
  }
}

function addResponse(data, user) {
  if( data.errCode > 0 ) {
     c = data.count;
     welcomePage(user, c);
  } else {
     loginPage(errcode(data.errCode));  
  }
}


$('#loginButton').click(function() {
   username = $('#username').val()
   password = $('#password').val()
   request("/users/login", { user: username, password: password }, function(data) { return loginResponse(data, username); }, function(err) { alert('error occurred on request'); });

   return false;
});

$('#addUserButton').click(function() {
   username = $('#username').val()
   password = $('#password').val()
   request("/users/add", { user: username, password: password }, function(data) { return addResponse(data, username); }, function(err) {alert('error occurred on request'); });

   return false;
});

$('#logOut').click(function() {
  loginPage();

  return false;
});

  

-->
</script>
</html>
